{{- /*gotype: github.com/nginxinc/kubernetes-ingress/internal/configs/version2.VirtualServerDefaultServerConfig*/ -}}

{{ $s := .VsConfig.Server }}
{{ $vsc := .VsConfig}}
server {
    {{ range $HTTPPort, $value := .HTTPPortMap }}
    listen {{ $HTTPPort }} default_server{{ if $s.ProxyProtocol }} proxy_protocol{{ end }};
    {{ if not $s.DisableIPV6 }}listen [::]:{{ $HTTPPort }} default_server{{ if $s.ProxyProtocol }} proxy_protocol{{ end }};{{ end }}
    {{ end }}

    {{ with $ssl := $s.SSL }}
    {{ range $HTTPSPort, $value := $.HTTPSPortMap }}
    listen {{ $HTTPSPort }} ssl default_server{{ if $s.ProxyProtocol }} proxy_protocol{{ end }};
    {{ if not $s.DisableIPV6 }}listen [::]:{{ $HTTPSPort }} ssl default_server{{ if $s.ProxyProtocol }} proxy_protocol{{ end }};{{ end }}
    {{ end }}

    {{ if $ssl.HTTP2 }}
    http2 on;
    {{ end }}


        {{ if $ssl.RejectHandshake }}
    ssl_reject_handshake on;
        {{ else if $vsc.SpiffeCerts }}
    ssl_certificate /etc/nginx/secrets/spiffe_cert.pem;
    ssl_certificate_key /etc/nginx/secrets/spiffe_key.pem;
        {{ else }}
    ssl_certificate {{ $ssl.Certificate }};
    ssl_certificate_key {{ $ssl.CertificateKey }};
        {{ end }}

    {{ end }}
    server_name _;
    server_tokens "on";

    location / {
        return 404;
    }
}